@import "./variables.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;

  @media (max-width: $large) {
    font-size: 60%;
  }
  @media (max-width: $medium) {
    font-size: 50%;
  }

  @media (max-width: $xxSmall) {
    font-size: 35%;
  }
}

body {
  font-family: $font-family;
}

h1 {
  font-size: $h1-font-size;
}
h2 {
  font-size: $h2-font-size;
}
h3 {
  font-size: $h3-font-size;
  font-weight: $font-weight;
}
p {
  &.body-1 {
    font-size: $p1-font-size;
  }

  &.body-2 {
    font-size: $p2-font-size;
  }
  &.body-3 {
    font-family: $font-family-2;
    font-size: $p1-font-size;
    font-weight: $font-weight;
  }
}

.container {
  max-width: 85%;
  margin: auto;

  @media (min-width: $xLarge) {
    max-width: $xLarge;
  }
}

.btn {
  border-radius: 0;
  padding: 3rem 5rem;
  font-family: $font-family;
  font-size: $button-font-size;
  border: 1px solid $black;
  cursor: pointer;
}
.btn_1 {
  background-color: $black;
  color: $white;
  position: relative;
  width: auto;
  transition: all 0.3s ease;
  border: 5px solid $black;
  overflow: hidden;

  span {
    mix-blend-mode: difference;
  }

  &::before {
    background-color: $white;
    padding: 3rem 5rem;
    position: absolute;
    left: -100%;
    top: 0;
    width: 0;
    width: auto;
    transition: all 0.3s ease;
  }

  &:hover {
    &::before {
      left: 0;
    }
  }
}

header {
  border-bottom: 1.5px solid $black;

  .nav-links {
    display: flex;
    justify-content: center;

    .nav-link {
      display: flex;
      padding: 2rem 4%;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: all 0.3s ease;
      position: relative;
      overflow: hidden;

      &::before {
        position: absolute;
        background-color: $black;
        content: " ";
        width: 95%;
        height: 80%;
        left: -100%;
        transition: all 0.3s ease;
      }
      &:hover {
        // background-color: $black;
        color: $white;

        &::before {
          left: 0%;
        }
      }

      &:not(:last-child) {
        border-right: 1.5px solid $black;
      }

      a {
        font-size: $p2-font-size;
        mix-blend-mode: difference;
      }
    }

    .logo {
      display: flex;
      justify-content: center;
      padding: 2rem 8%;
      border-right: 1.5px solid $black;
    }
  }
}

.hero-section {
  h1 {
    color: $white;
  }

  .container {
    .reel-container {
      background-image: url("/images/hero.png");
      margin: 5rem 0;
      height: 100vh;
      background-size: cover;
      background-position: center;
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      justify-content: center;
      border: 1.5px solid black;
      transition: all 0.5s ease;
      // h1 {
      //   transition: all 1s ease;
      // }

      @media (min-width: $xLarge) {
        height: 110rem;
      }

      &:hover {
        h1 {
          margin-top: -15rem;
        }
        .play-reel {
          position: absolute;
          transform: translate(-50%, -50%);
          mix-blend-mode: difference;
        }

        .circular-arrow {
          transform: rotate(90deg);
        }
      }

      .play-reel {
        cursor: pointer;
        display: flex;
        height: 15rem;
        width: 15rem;
        border-radius: 100px;
        background: $white;
        align-items: center;
        justify-content: center;
        // transition: all 0.1s ease;
      }

      .circular-arrow {
        position: absolute;
        align-self: end;
        margin: 5rem;
        bottom: -15rem;
        transition: all 0.3s ease;

        @media (min-width: $xLarge) {
          top: 105rem;
          bottom: 0;
        }
      }
    }
  }
}

.arrivals-section {
  padding-bottom: 5rem;
  .content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    .arrival {
      .image {
        border: 1.5px solid $black;
        text-align: center;
        background-color: $neutral2;
        img {
          margin-bottom: -0.2rem;
          // width: 100%;
        }
      }
      .description {
        display: flex;
        justify-content: space-between;
        border: 1.5px solid $black;
        margin: 2rem 0;
        .title {
          padding: 3rem;
        }

        .price {
          border-left: 1.5px solid $black;
          padding: 3rem;
          display: flex;
          align-items: center;
        }
      }
    }

    .cta {
      p {
        line-height: 6rem;
        margin: 10rem 0 5rem 0;
      }

      .btn::before {
        content: "Shop Now";
      }
    }
  }
}

.collections-section {
  padding-bottom: 5rem;
  .collections {
    display: flex;
    justify-content: space-between;
    .flex-1 {
      flex-grow: 1;
      margin-right: 1.5rem;
    }
    .flex-2 {
      margin-left: 1.5rem;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .collection {
      border: 1.5px solid $black;
      position: relative;
      overflow: hidden;

      img {
        width: 100%;
        transition: all 0.5s ease;
      }
      p,
      a {
        color: $white;
      }

      &:hover {
        img {
          scale: 1.05;
        }
      }

      .header {
        position: absolute;
        top: 0;
        padding: 2rem;
      }
      .footer {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: space-between;
        bottom: 0;
        padding: 2rem;
        width: 100%;
        background: rgb(0, 0, 0);
        background: rgb(0, 0, 0);
        background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.8337710084033614) 0%,
          rgba(0, 0, 0, 0) 100%
        );
        a {
          text-decoration: none;
          font-size: 1.6rem;
          justify-self: end;
          display: flex;
          align-items: center;

          &:hover {
            .arrow {
              margin: 0 2rem;
            }
          }

          .arrow {
            transition: all 0.5s ease;
            width: 2rem;
            margin: 0 1rem;
            .arrowPath {
              fill: $white;
            }
          }
        }
      }
    }
  }
}

.best-sellers-section {
  padding-bottom: 5rem;
  .container {
    button {
      display: block;
      margin: 7rem auto;

      &::before {
        content: "Shop Now";
      }
    }

    .controls {
      display: flex;
      div {
        padding: 2rem;
        border-radius: 50%;
        background-color: $black;
        margin: 2rem 1rem;
        border: 1.5px solid $black;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
          background-color: $white;

          .arrow {
            path {
              fill: $black;
            }
          }
        }

        &:nth-child(1) {
          .arrow {
            transform: rotate(180deg);
          }
        }

        .arrow {
          path {
            fill: $white;
            transition: all 0.3s ease;
          }
        }
      }
    }
    .best-sellers {
      width: 100%;
      display: flex;
      overflow-x: scroll;
      scroll-snap-type: mandatory;
      scroll-snap-align: center;
      &::-webkit-scrollbar {
        display: none;
      }

      .best-seller {
        margin-right: 2rem;
        .image {
          border: 1.5px solid $black;
          text-align: center;
          background-color: $neutral2;
          img {
            margin-bottom: -0.2rem;
            // width: 100%;
          }
        }
        .description {
          display: flex;
          justify-content: space-between;
          border: 1.5px solid $black;
          margin: 2rem 0;
          .title {
            padding: 3rem;
          }

          .price {
            border-left: 1.5px solid $black;
            padding: 3rem;
            display: flex;
            align-items: center;
          }
        }
      }

      .cta {
        p {
          line-height: 6rem;
          margin: 10rem 0 5rem 0;
        }
      }
    }
  }
}

.lookbook-section {
  .sectionHeader {
    margin: 0;
  }
  .categories {
    .category {
      border-bottom: 1.5px solid $black;
      padding: 5rem 0;
      // position: relative;
      .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h3 {
          mix-blend-mode: overlay;
        }
      }

      .img-container {
        position: absolute;
        top: 50%;
        left: 50%;
        overflow: hidden;
        width: 0;
        opacity: 0;
        transition: width 0.2s ease, opacity 0.2s ease;
        transform: translate(-50%, -50%);
        border: none;
        z-index: -1;
        backface-visibility: hidden;

        img {
          transition: all 0.2s ease;
          // object-fit: cover;
          width: 63.5rem;
        }
      }

      &:hover {
        .img-container {
          width: 63.5rem;
          opacity: 1;
        }

        .arrow {
          transform: rotate(135deg);
        }
      }

      .arrow {
        transition: all 0.3s ease;
      }
    }
  }
}

.campaign-section {
  background-color: $black;
  overflow: hidden;

  .campaign {
    position: relative;
    h1,
    h3 {
      font-family: $font-family-3;
      &.bold-text {
        font-size: $bold-font-size;
        color: rgba(0, 0, 0, 0);
        letter-spacing: -20px;
        -webkit-text-stroke: 1.5px $white;
        backface-visibility: hidden;
      }
    }

    &--1 {
      display: flex;
      width: 100%;
      padding-bottom: 25rem;
      h1 {
        margin-left: -50rem;
        position: absolute;
        white-space: nowrap;
      }
      .circle {
        position: absolute;
        right: 0;
        margin-top: -10rem;
        height: 30rem;
        width: 30rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: blue;
        justify-self: end;
        h3 {
          color: $white;
        }
      }
    }
    &--2 {
      display: flex;
      width: 100%;
      padding-top: 20rem;

      h1 {
        right: 0;
        margin-right: -50rem;
        position: absolute;
        bottom: 0;
        white-space: nowrap;
      }

      .circle {
        position: absolute;
        margin-bottom: -10rem;
        left: 0;
        bottom: 0;
        height: 30rem;
        width: 30rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: orangered;
        h3 {
          color: $white;
        }
      }
    }
  }
}

.about-section {
  .container {
    .about-img {
      img {
        width: 100%;
      }
    }

    .about-info {
      display: flex;
      justify-content: space-between;
      padding: 5rem 0;
      p {
        width: 60%;
        line-height: 5rem;
      }

      .btn {
        display: inline-block;
      }
    }
  }
}

.footer-section {
  background-color: $black;
  padding: 5rem 0;
  p {
    color: $white;
  }
  .newsletter {
    border-bottom: 1.5px solid $white;
    border-top: 1.5px solid $white;
    // margin: 5rem 0;
    .container {
      display: flex;
      position: relative;
      justify-content: space-between;
      align-items: center;
      padding: 5rem 0;

      input {
        background-color: $black;
        border: 1.5px solid $white;
        padding: 2rem;
        width: 60%;
        border-radius: none;
        font-family: $font-family;
        font-size: $p1-font-size;
        color: $white;
      }

      .arrow {
        position: absolute;
        right: 3rem;

        path {
          fill: $white;
        }
      }
    }
  }

  .content {
    border-bottom: 1.5px solid $white;
    .container {
      display: grid;
      grid-template-columns: 2fr 1fr 1fr 2fr;

      .logo {
        display: flex;
        align-items: end;
      }

      .footer-links {
        border-left: 1.5px solid $white;
        padding: 5rem 0;
        display: flex;
        flex-direction: column;
        align-items: start;
        p {
          text-decoration-line: underline;
        }

        a {
          text-decoration: none;

          li {
            margin: 2rem 0;
            font-size: $p2-font-size;
            color: $white;
            list-style-type: none;
          }
        }

        .socials {
          padding: 2rem 4rem;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 3rem;
          a {
            font-size: $p2-font-size;
            flex-grow: 1;
          }
        }
      }
    }
  }

  footer {
    text-align: center;
    padding-top: 5rem;
  }
}
