@font-face {
  font-family: HelveticaExtended;
  src: url(./fonts/HelveticaMedExt.ttf);
}

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600&display=swap");
//Fonts
$font-family: HelveticaExtended;
$font-family-2: Manrope;
$font-weight: 500;
$bold-font-weight: 700;

$h1-font-size: 9.6rem;
$h2-font-size: 6.4rem;
$h3-font-size: 3.2rem;
$p1-font-size: 2.4rem;
$p2-font-size: 2rem;
$nav-font-size: 1.4rem;

//Colors
$black: #050505;
$white: #ffffff;
$neutral: #242424;
$neutral2: #ffffff33;
// $bg-light: #a7a7a7;
$bg-light: #d9d9d9;

// Layout Breakpoints
$xLarge: 1920px;
$large: 1366px;
$medium: 1110px;
$small: 800px;
$xSmall: 500px;
$xxSmall: 350px;
